{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> MovieList</h1>
    <br/>
{% if movies %}
    {% for movie in movies %}
            <div class="card" style="width: 18rem;">
        <img src='{% static 'images/default_movie_pic.png' %}' class="card-img-top" alt="Movie image">
        <div class="card-body">
            <h5 class="card-title">{{ movie.name}}</h5>
            <p class="card-text">{{ movie.price }}</p>
            <a href="{%url 'movie' movie.id %}" class="btn btn-primary">View Movie</a>
        </div>
        </div>
        
<br/><br/>
    {% endfor %}
{% endif %}
{% endblock %}